.nosotros__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 80px;
    padding: 10px;
    align-content: center;
}

.nosotros__header-navbar {
    align-content: center;
}

.nosotros__header-navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 77px;
    align-items: center;
}

.nosotros__header-navbar ul:hover {
    background-color: #314d4a;
    border-radius: 20px;
    transform: perspective(3s);
}

.nosotros__header-navbar a {
    text-decoration: none;
    color: #0b8770;
    font-size: x-large;
    font-weight: 400;
}

@media screen and (max-width: 790px) {
    .nosotros__header-navbar a {
        font-size: 18px;
    }
}

@media screen and (max-width: 670px) {
    .nosotros__header-navbar a {
        font-size: 15px;
    }
}

@media screen and (max-width: 475px) {
    .nosotros__header-navbar a {
        font-size: 12px;
    }
}

@media screen and (max-width: 415px) {
    .nosotros__header-navbar a {
        font-size: 9px;
    }
}

.nosotros__header-navbar a:hover {
    text-decoration: none;
    color: #ebe68d;
    font-size: x-large;
    font-weight: 400;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .header__img {
        align-content: center;
    }
}

@media screen and (max-width: 580px) {
    .header__img {
        align-content: center;
    }
}

@media screen and (max-width: 450px) {
    .nosotros__img {
        align-content: center;
    }
}

@media screen and (max-width: 900px) {
    .nosotros__header img {
        width: 281px;
        height: 57px;
    }
}

@media screen and (max-width: 580px) {
    .nosotros__header img {
        width: 194px;
        height: 40px;
    }
}

@media screen and (max-width: 580px) {
    .nosotros__header img {
        width: 134px;
        height: 26px;
    }
}

.nosotros__titulo {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nosotros__titulo h1 {
    color: #0b8770;
    text-align: center;
}

.nosotros__contenedor {
    border: 2px solid #0b8770;
    border-radius: 20px;
    padding: 20px;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 40px;
    background-image: url(./../img/logo-background.png);
}